.input-root {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.input {
    width: 384px;
    height: 64px;
    border-radius: 12px;
    padding: 12px 16px;
    border: 1px solid #323b54;
    background-color: rgba(0, 0, 0, 0.2); /* Черный с 20% прозрачностью */
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #475069;
}

.withIcon {
    padding-left: 40px;
}

.icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 10px;
}
