.likes {
	display: inline-flex;
	padding: 4px 8px 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: rgba(255, 173, 73, 1);
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.65);

	& img {
		width: 16px;
	}
}

.absolute {
	position: absolute;
	top: 20px;
	left: 20px;
}

.static {
	position: static;
}
