.button {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  border-radius: 12px;
  background-color: #7b6ef6;
  color: #fff;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #6a5de5;
}
