.nav-list {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 2%;
    color: #a8aebf;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}
