.not-found-root {
	width: 640px;
	margin: 60px auto 0;
	text-align: center;
}

.title {
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
}

.subtitle {
	margin-top: 10px;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	color: rgba(118, 126, 148, 1);
}
