.title {
	color: #ebeef5;
	font-weight: 600;
}

.big {
	font-size: 60px;
	line-height: 80px;
}

.middle {
	font-size: 32px;
	line-height: 40px;
}

.small {
	font-weight: 700;
	font-size: 20px;
	line-height: 32px;
}
