.header__root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 80px;
    padding: 0 40px;
    background-color: #121829cc;
}

.header__logo {
    display: inline-block;
}
