.film-item {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 282px;
	height: 520px;
	padding-bottom: 20px;
	border-radius: 12px;
	flex-direction: column;
	background-color: #20283ecc;
}

.image-wrapper {
	padding: 10px;
}

.film-name {
	padding: 0 20px;
	color: rgba(235, 238, 245, 1);
}
